<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527060814486-uj4k7aau8f88jor6fsdog5mib8479tm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527060814486-uj4k7aau8f88jor6fsdog5mib8479tm1</string>
	<key>API_KEY</key>
	<string>AIzaSyD1tF_-dpcivx1aEYFXKLbWGYAB6G3bsmk</string>
	<key>GCM_SENDER_ID</key>
	<string>527060814486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mindmine.mindmine.ioss</string>
	<key>PROJECT_ID</key>
	<string>mindmine-dp-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmine-dp-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527060814486:ios:c07ed45beb16eb850f90b7</string>
</dict>
</plist>